.form-container{
  background-color: #f30202; 
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-form h1 {
  color: #071a1f; 
  text-align: center;
}

.recipe-form label {
  display: block;
  margin: 10px 0 5px;
  color: #212929; 
}

.recipe-form input,
.recipe-form textarea,
.recipe-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cab089; 
  border-radius: 4px;
  margin-bottom: 15px;
}

.recipe-form button {
  background-color: #eb7324; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.recipe-form button:hover {
  background-color: #f14b2a; 
}