.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: brown;
  height: 100%;
}

.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bgImg {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}

p {
  font-size: 25px;
}