.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
  }
  
  .recipe-card-wrapper {
    flex: 1 1 300px; 
    max-width: 400px;
    min-width: 20%;
    min-height: 60%;
  }
  
  @media (max-width: 768px) {
    .recipe-list {
      gap: 1.5rem;
      padding: 1rem;
    }
    
    .recipe-card-wrapper {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .recipe-card-wrapper {
      flex-basis: 45%;
      max-width: 45%;
    }
  }
 