.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
  }
  
  .recipe-card-wrapper {
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    max-width: 400px;
    min-width: 20%;
    min-height: 60%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .recipe-list {
      gap: 1.5rem;
      padding: 1rem;
    }
    
    .recipe-card-wrapper {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .recipe-card-wrapper {
      flex-basis: 45%;
      max-width: 45%;
    }
  }
  /* .recipe-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-width: 20%;
  } */

  /* .recipe-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

  } */